
mark {
    color: $gray-800;
    padding: 0.2em;
    background-color: #fcf8e3;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
