
@mixin trans-duration($time) {
    -webkit-transition-duration: $time;
    transition-duration: $time;
}

@mixin transition($value) {
    -webkit-transition: $value;
    transition: $value;
}

@mixin animation($value) {
    -webkit-animation: $value;
    animation: $value;
}

@mixin transform($value) {
    -webkit-transform: $value;
    transform: $value;
}

/**
 * Flex mixin
 */

@mixin display-flex($value) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: $value;
}

@mixin flex($value) {
    -webkit-box-flex: 0;
    -ms-flex: $value;
    flex: $value;
}

@mixin flex-wrap($value) {
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin fflex($value) {
    @include flex(0 0 $value);
    width: $value;
    max-width: $value;
}

@mixin flex-direction($value) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: start;
    align-items: flex-start;
}

@mixin align-items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: end;
    align-items: flex-end;
}

@mixin align-items($value) {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
    -ms-grid-row-align: $value;
    align-items: $value;
}

@mixin justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin justify-content($value) {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
    justify-content: $value;
}

@mixin row {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    margin-right: -15px;
    margin-left: -15px;
}
