
$breakpoint-xl: 'only screen and (min-width:1200px)';
$breakpoint-lg: 'only screen and (min-width:992px) and (max-width:1199px)';
$breakpoint-md: 'only screen and (min-width:768px) and (max-width:991px)';
$breakpoint-sm: 'only screen and (min-width:576px) and (max-width:767px)';
$breakpoint-xs: 'only screen and (max-width:767px)';
$breakpoint-xs-landscape: 'only screen and (min-width:480px) and (max-width:767px)';

$min-width-xs: '(min-width: 480px)';
$min-width-sm: '(min-width: 576px)';
$min-width-md: '(min-width: 768px)';
$min-width-lg: '(min-width: 992px)';
$min-width-xl: '(min-width: 1200px)';
$min-width-xxl: '(min-width: 1640px)';
