
$sidebar-base-width: 17rem;

@import 'reboot.scss';
@import 'colors.scss';
@import 'responsive.scss';
@import 'mixins.scss';
@import 'keyframes.scss';
@import 'bootstrap.scss';

$header-fonts: 'Saira Extra Condensed', Helvetica, Roboto, Arial, sans-serif;
$normal-fonts: 'Muli', Helvetica, Roboto, Arial, sans-serif;
$cursive-fonts: 'Shadows into Light', Helvetica, Roboto, Arial, sans-serif;

body {
    font-family: $normal-fonts;
    padding-top: 54px;
    color: $gray-600;
    @media #{$min-width-lg} {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-fonts;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-800;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    margin-bottom: 3rem;
    font-size: 1.75rem;
    @media #{$min-width-md} {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.5rem;
    @media #{$min-width-md} {
        font-size: 2rem;
    }
}

h4 {
    font-weight: 500;
    color: $gray-600;
    font-size: 1.25rem;
    @media #{$min-width-md} {
        font-size: 1.5rem;
    }
}

h6 {
    color: $gray-600;
    font-size: 1.15rem;
    font-family: $normal-fonts;
    text-transform: initial;
}

p {
    margin-bottom: 1rem;
    font-size: 1rem;
    @media #{$min-width-md} {
        font-size: 1.125rem;
    }
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
    outline: none;
    text-decoration: none;
    background-color: transparent;
}

a {
    color: $primary;
    &:hover,
    &:focus,
    &:active {
        color: darken($primary, 15%);
    }
}

section {
    @include display-flex(flex);
    @include flex-direction(column);
    @include justify-content(center);
    max-width: 75rem;
    padding: 5rem 1rem;
    &#about {
        padding-top: 1rem;
        @media #{$min-width-sm} {
            padding-top: 5rem;
        }
    }
    @media #{$min-width-md} {
        min-height: 100vh;
    }
    @media #{$min-width-lg} {
        padding: 5rem;
    }
}

#preloader {
    display: block;
    z-index: 9999;
    position: fixed;
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    background-color: $orange;
    .animation {
        width: 40px;
        height: 40px;
        background-color: $white;
        margin: 100px auto;
        @include animation(sk-rotateplane 1.2s infinite ease-in-out);
    }
}

.no-js #preloader {
    display: none;
}

nav {
    position: fixed;
    z-index: 1;
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content-between;
    top: 0;
    right: 0;
    left: 0;
    background-color: $primary;
    padding: 0.5rem 1rem;
    @media #{$min-width-lg} {
        text-align: center;
        @include flex-direction(column);
        width: $sidebar-base-width;
        height: 100vh;
    }
    a {
        color: $gray-800;
        font-weight: 800;
        &.active,
        &:hover,
        &:focus {
            color: $gray-800;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    #championDuMonde {
        font-size: 1.25rem;
        color: rgba(255, 255, 255, 0.5);
        @media #{$min-width-lg} {
            margin: auto auto 0;
            padding-bottom: 0.5rem;
        }
    }
    .myNameIs {
        font-size: 1.25rem;
        @media #{$min-width-lg} {
            display: none;
        }
    }
    img#photo {
        display: none;
        @media #{$min-width-lg} {
            display: block;
        }
        height: auto;
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid fade-out($white, 0.8);
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
    button {
        cursor: pointer;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: transparent;
        padding: 0 0.75rem;
        border-radius: 0.25rem;
        width: 50px;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        @media #{$min-width-lg} {
            display: none;
        }
        &[aria-expanded="true"] i.fa-bars {
            display: none;
        }
        &[aria-expanded="false"] i.fa-times {
            display: none;
        }
    }
    #menu {
        @include fflex(100%);
        display: none;
        &.show {
            display: block;
        }
        @media #{$min-width-lg} {
            display: block;
            margin-bottom: auto;
            @include flex(0 0 auto);
        }
        ul {
            list-style: none;
            margin: 20px 0;
            li {
                a {
                    display: block;
                    padding: 0.5rem 0;
                    text-align: right;
                    font-weight: 800;
                    letter-spacing: 0.05rem;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.5);
                    &.active,
                    &:hover {
                        color: rgba(255, 255, 255, 0.75);
                    }
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                    &:after {
                        text-transform: initial;
                        content: "✺";
                        color: transparent;
                    }
                    &.active:after {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }
            }
        }
    }
}

#principal-quote {
    font-family: $cursive-fonts;
    z-index: 1000;
    position: fixed;
    background-color: white;
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 0.9rem;
    @media #{$min-width-md} {
        font-size: 1.2rem;
        padding-left: 10px;
    }
}

#contactMe {
    z-index: 2;
    position: fixed;
    bottom: 0;
    padding: 0 5px;
    border: 1px dotted $gray-200;
    border-bottom: 0;
    border-left: 0;
    background-color: $gray-800;
    color: $gray-200;
    &:hover {
        text-decoration: none;
    }
}

.modal {
    h4 {
        font-family: $cursive-fonts;
        text-transform: initial;
        color: $gray-800;
        font-weight: bold;
    }
    .form-group {
        label {
            font-size: 13px;
            margin-left: 10px;
            margin-bottom: -10px;
            &.required::after {
                content: "*";
                color: red;
                margin-left: 5px;
            }
        }
    }
    input,
    textarea {
        &:active,
        &:focus {
            border-color: $orange;
        }
    }
    input,
    textarea,
    button[type=submit] {
        &::placeholder {
            color: $gray-400;
        }
        &:active,
        &:focus {
            box-shadow: 0 0 0 3px lighten($orange, 15);
        }
    }
    .alert {
        // Removing the margin-bottom from bootstrap.js
        margin-bottom: 0;
    }
    .btn-resume {
        background-color: $orange;
        color: $gray-200;
        &:hover {
            background-color: darken($orange, 10%);
        }
    }
}

.item {
    margin-bottom: 3rem;
    &.cv {
        @include display-flex(flex);
        @include flex-direction(column);
        @media #{$min-width-md} {
            @include flex-direction(row);
        }
        .enum {
            margin-right: auto;
        }
        .date {
            min-width: 0;
            color: darkblue;
            @media #{$min-width-md} {
                min-width: 18rem;
                text-align: right;
            }
        }
    }
}

.myNameIs {
    color: $gray-800;
    font-weight: 800;
    text-transform: uppercase;
    .surname {
        color: $gray-200;
        @media #{$min-width-lg} {
            color: $orange;
        }
    }
    &.huge {
        display: none;
        @media #{$min-width-lg} {
            display: block;
        }
        small {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

#contact-infos {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    margin-bottom: 3rem;
    .email,
    .tel,
    .town {
        @include flex(0 0 100%);
        width: 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        @media #{$min-width-sm} {
            @include flex(0 0 auto);
            width: auto;
            max-width: none;
        }
    }
    .town {
        text-transform: initial;
        font-family: $cursive-fonts;
    }
    .email {
        color: $orange;
        font-weight: bold;
        background: transparent;
        .commat {
            color: $gray-600;
        }
        .tld {
            color: $gray-800;
        }
    }
    .tel {
        @media #{$min-width-sm} {
            &:before,
            &:after {
                content: "·";
            }
        }
    }
}

#gitlab-item {
    margin-top: 1em;
    .icon {
        display: inline-block;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 3.5rem;
        margin-right: 0.5em;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
}

#realisation-area {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content-between;
    margin-bottom: 3em;
    .item {
        @include fflex(100%);
        @media #{$min-width-md} {
            @include fflex(48%);
        }
        img {
            width: 100%;
            max-width: 350px;
        }
    }
}

#skills {
    .skills-container {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include justify-content-between;
        margin: 40px 0;
        h3 {
            @include fflex(100%);
        }
        .skill {
            @include fflex(100%);
            &:not(.large) {
                @media #{$min-width-md} {
                    @include fflex(48%);
                }
            }
            i {
                vertical-align: middle;
                font-size: 3rem;
                font-weight: initial;
                margin: 5px;
                color: $gray-600;
            }
        }
    }
}

[data-aos][data-aos][data-aos-delay="3500"] {
    transition-delay: 3.5s;
}

[data-aos][data-aos][data-aos-delay="4000"],
[data-aos][data-aos][data-aos-delay="4s"] {
    transition-delay: 4s;
}

[data-aos][data-aos][data-aos-delay="5s"] {
    transition-delay: 5s;
}

.no-js [data-aos] {
    opacity: 1;
    transform: translate(0) scale(1);
}
